@model NoteManagmentApp.UI.ViewModels.CreateNoteVM

@{
    ViewData["Title"] = "AddNote";
}

<h1>AddNote</h1>

<h4>NoteVM</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddNote" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
             
                <input type="file" asp-for="Image" class="form-control w-50" />

                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
        <img class="cover-preview d-none" alt="Cover" />
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/note-form.js" asp-append-version="true"></script>
}
